body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.contact-details{
    margin-top: 20px;
    margin-bottom: 20px;
    border:1px solid #212529;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    grid-column: 2;
}

label{
    font-weight: bold;
}

.menu{
    grid-column:1;
}

.note{
    padding-bottom: 10px;
}
 #name{
    font-weight: bold;
 }

#note{
    font-style: italic;
}

#date{
    font-size: 11px;
}

.contact-name{
    font-size: 24px;
    font-weight: bold;
}

.contact-created_at,.contact-updated_at {
    font-size: 14px;
    color: gray;
}

.container{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-column-gap: 200px;
    grid-row-gap: 10px;
    margin-top: 20px;
    border:1px solid #212529;
    border-radius: 5px;
    padding:10px;
}

.contact-email, .contact-company, .contact-telephone, .contact-assigned_to {
    width: 200px;
}

.container > * {
    min-width: 0;
    overflow: auto; /* or overflow: hidden; */
    overflow-wrap: anywhere;
}

#switchButton{
    background-color: rgb(248, 203, 0);
    border-radius: 5px;
    color: black; 
    width: 170px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    display:flex;
    justify-content: center;
    align-content: center;
    padding-top: 5px;
    gap:5px;
}

#switchButton img {
    width: 18px;
    height: 18px;
}

#assignToMeButton{
    background-color: rgb(51, 158, 51);
    border-radius: 5px;
    color: black; 
    width: 130px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    display:flex;
    justify-content: center;
    align-content: center;
    padding-top: 5px;
    gap:5px;
}

#assignToMeButton img {
    width: 18px;
    height: 18px;
}

.contact-email {
    grid-column: 1;
    grid-row: 1;
}

.contact-telephone{
    grid-column: 1;
    grid-row: 2;
}

.contact-company {
    grid-column: 2;
    grid-row: 1;
}

.contact-assigned_to {
    grid-column: 2;
    grid-row: 2;
}

#submitBtn {
    background-color: rgb(109, 4, 109);
    width: 10%;
    color: white; 
    border: none;
    padding: 10px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#assign-switch {
    display:flex;
    gap:10px;
    align-content: center;
    margin-top: 15px;
}

#name-and-btns {
    display:flex;
    justify-content: space-between;
    align-content: center;
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
}