.container
 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "header header"
                         "buttons records";
}

.button {
    grid-area: buttons;
}

.main-content {
    grid-area: records;
}


main{
    grid-column: 2;
    grid-row: 1;
    background-color:rgb(244, 241, 241); 
    padding-left: 50px; 
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding-right: 30px;
    padding-bottom: 50px;
}

h1 {
    font-size: 34px; 
    font-weight: bold; 
}

body {
    margin: 0%;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin: 15px;
}

a {
    text-decoration: none;
    color: black;
}

.dashboard-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filter {
    font-weight: bold;
}

.filter-section {
    display: flex;
    align-items: center;
}

p {
    display: flex;
    justify-content: center;
    align-content: center;
    gap:5px;
    padding-top: 10px;
}

.filter-icon{
    font-size: 20px; 
    padding-bottom: 5px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

table, td, th {
    border: 1px solid rgb(244, 241, 241);
    text-align: left;
    padding: 10px;
}

th {
    background-color: rgb(244, 241, 241);
}

table {
    padding: 10px;
    padding-top: 0;
}

td th {
    border: none;
}

td:first-child {
    font-weight: bold;
}

td a {
    color: rgb(72, 17, 154);
}

.table-display {
    background-color: white;
    padding: 15px 40px 40px 40px;
}

button {
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(72, 17, 154);
    padding: 12px;
}

button:hover { 
    background-color:rgb(48, 43, 146); 
}
